- const SORT = [{ value:'default', text:'по умолчанию' }, { value:'expensive', text:'сначала дорогие' }, { value:'cheap', text:'сначала дешевые' }, { value:'high-ranked', text:'высокий рейтинг' }, ]

section.main-catalogue
  .container
    h2.hdr Каталог кофейных напитков
    small.sml Каталог
    include ./../includes/components/main-filters
    select(name='gradation')
      each sort, index in SORT
        option(value=sort.value)=sort.text
    .main-catalogue__list
        -
          const index = 0
          const currentIndex = index + 1
          const imgPath = 'img/coffee_catalogue/coffee_can_' + currentIndex
        a(href='#').main-catalogue__item
          picture
          source(type='image/webp' srcset=`${imgPath}@1x.webp, ${imgPath}@2x.webp 2x`)
          img(src=`${imgPath}@1x.png` srcset=`${imgPath}@2x.png 2x` alt=`Кофейный напиток лот ${currentIndex}` width=130 height=188)
