- const INTROS = [{ type: 'espresso' }, { type: 'flat_white' }, {type: 'lavender' }] 

section.main-intro
    .main-intro__wrapper
      ul.main-intro__list.swiper-wrapper.container
        each intro in INTROS
          li.main-intro__item(href='#').swiper-slide
            // 1х: 600px; 2x: 1200px
            picture
              source(type='image/webp' media='(max-width: 767px)' srcset=`img/introduction_swiper/${intro.type}_mobile@1x.webp, img/introduction_swiper/${intro.type}_mobile@2x.webp 2x`)
              source(type='image/png' media='(max-width: 767px)' srcset=`img/introduction_swiper/${intro.type}_mobile@1x.png, img/introduction_swiper/${intro.type}_mobile@2x.png 2x`)
              source(type='image/webp' media='(max-width: 1439px)' srcset=`img/introduction_swiper/${intro.type}_tablet@1x.webp, img/introduction_swiper/${intro.type}_tablet@2x.webp 2x`)
              source(type='image/png' media='(max-width: 1439px)' srcset=`img/introduction_swiper/${intro.type}_tablet@1x.png, img/introduction_swiper/${intro.type}_tablet@2x.png 2x`)
              source(type='image/webp' srcset=`img/introduction_swiper/${intro.type}_desktop@1x.webp, img/introduction_swiper/${intro.type}_desktop@2x.webp 2x`)
              img(src=`img/introduction_swiper/${intro.type}_desktop@1x.png` srcset=`img/introduction_swiper/${intro.type}_desktop@2x.png 2x` alt=`Кофейный напиток${intro.type}` width=600 height=600)
            .main-intro__description
              h2 Декаф Флэт Уайт
              small.sml Новинка!
              p Свежесваренный кофе без кофеина из&nbsp;Эфиопии с&nbsp;натуральным фермерским молоком&nbsp;&mdash; то, что&nbsp;нужно для&nbsp;расслабления после тяжёлого рабочего дня
              .main-intro__ordering
                .main-intro__price
                  small 295₽
                  large 225₽
                  a.btn.btn-violet(href='#') Заказать
      .main-intro__pagination
      button.main-intro__button.main-intro__button--prev(type="button")
        svg(width='20' height='20' aria-hidden='true' fill='none')
          use(href='img/sprite_auto.svg#icon-arrow-left')
      button.main-intro__button.main-intro__button--next(type="button")
        svg(width='20' height='20' aria-hidden='true' fill='none')
          use(href='img/sprite_auto.svg#icon-arrow-left')
