- const MILK = [{ value:'nomatter', span:'Неважно' }, { value:'animal', span:'Только животное' }, { value:'vegetalbe', span:'Только растительное' }, { value:'nomilk', span:'Без молока' }, ]
//- повесить на первые интупы атрибуты checked через JS
//- повесить на последние инпуты атрибуты disabled через JS 
- const COUNTRY = [{ value:'brazil', span:'Бразилия' }, { value:'ethiopia', span:'Эфиопия' }, { value:'columbia', span:'Колумбия' }, { value:'costa-rica', span:'Коста-Рика' }, { value:'peru', span:'Перу' }, ]

.main-filters
  form(action='https://echo.htmlacademy.ru/' method='post' autocomplete='off')
    fieldset.__range-slider 
    p Цена
      .__slider
          .__progress
      .__range-input
        input.__range-min(type='range' min='0' max='1000' value='0' step='100')
        input.__range-max(type='range' min='100' max='1000' value='900' step='100')
      .__price-input
        .__field
          input.__input-min(type='number' value='0')
        .__separator
        .__field
          input.__input-max(type='number' value='900')
    fieldset
    p Наличие молока
    .__list 
      each milk in MILK
        label.__label-m(for=`milk-${milk.value}`)
          input.__input(type='radio' name='milk' id=`milk-${milk.value}` value=milk.value)
          span.__m-option
          =milk.span
    fieldset
    p Страна произрастания
    .__list
      each country in COUNTRY
        label.__label-c(for=`country-${country.value}`)
          input.__input(type='checkbox' name='country' id=`country-${country.value}` value=country.value)
          span.__c-option
          =country.span
    .__buttons
      button.btn.btn-violet(type='submit') Применить фильтр
      button.btn.btn-white(type='reset') Сбросить фильтр
