- const MILK = [{ value:'nomatter', span:'Неважно' }, { value:'animal', span:'Только животное' }, { value:'vegetalbe', span:'Только растительное' }, { value:'nomilk', span:'Без молока' }, ]
//- повесить на первые интупы атрибуты checked через JS
//- повесить на последние инпуты атрибуты disabled через JS 
- const COUNTRY = [{ value:'brazil', span:'Бразилия' }, { value:'ethiopia', span:'Эфиопия' }, { value:'columbia', span:'Колумбия' }, { value:'costa-rica', span:'Коста-Рика' }, { value:'peru', span:'Перу' }, ]

.main-filters__wrapper
  //- grid-контейнер, содержащий 4 столбца
  form(action='https://echo.htmlacademy.ru/' method='post' autocomplete='off')
    fieldset.main-filters__slider
      span Цена
      input.main-filters__s-left(type='text' step='any')
      input.main-filters__s-right(type='text' step='any')
      .-value
    fieldset.main-filters__milk
      ul.main-filters__m-list
        each milk in MILK
          li.main-filters__m-item
            //- добавить инпутам класс .visually-hidden после верстки радио-кнопок
            input.main-filters__m-radio(type='radio' name=`milk-${milk.value}` id=`milk-${milk.value}` value=milk.value)
            label.main-filters__m-label(for=`milk-${milk.value}`)
              span.main-filters__m-option=milk.span
    fieldset.main-filters__country
      ul.main-filters__c-list
        each country in COUNTRY
          li.main-filters__c-item
            //- добавить инпутам класс .visually-hidden после верстки чекбоксов 
            input.main-filters__c-checkbox(type='checkbox' name=`country-${country.value}` id=`country-${country.value}` value=country.value)
            label.main-filters__c-label(for=`country-${country.value}`)
              span.main-filters__c-option=country.span
    button.btn.btn-violet(type='submit') Применить фильтр
    button.btn.btn-white(type='reset') Сбросить фильтр
